
.Home {
    height: calc(100vh - 6rem);

    background-image: url("../assets/background.jpg");
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.SignInModal {
    min-height: 20rem;
    min-width: 6rem;

    background-color: white;
    border-radius: 0.25rem;
    border: 0.1rem solid #d6d8d6;
}

.SignInModalInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
}

.SignInModalTitle {
    color: #282c34;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.SignInModalList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.SignInModalImage {
    margin-bottom: 2rem;
    height: 2rem;
}

.SignInModalListInput {
    -webkit-appearance: none;

    width: 100%;
    margin-bottom: 2rem;

    padding: 0.5rem;

    border: 0.1rem solid #d6d8d6;

    display: flex;
    justify-content: left;
    align-items: center;
    border-top: 0.1rem solid #d6d8d6;
    color: #282c34;
    transition: background-color 0.2s;
    cursor: pointer;
}

.SignInModalListOption:hover {
    background-color: rgba(199, 247, 232, 0.5);
}

.SignInModalButton {
    -webkit-appearance: none;
    width: 100%;
    height: 2rem;
    color: white;
    font-size: 1.2rem;
    border: none;
    background-color: #db0011;
    cursor: pointer;
}

.SignInModalLink {
    width: 50%;
    height: 2rem;
}

.SignInModalButton:hover {
    -webkit-appearance: none;
    width: 100%;
    height: 2rem;
    color: white;
    font-size: 1.2rem;
    border: none;
    background-color: #db0011;
}
